<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "DELETE, GET, POST, PUT, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /
RewriteRule ^api/$ /api.php [L]
RewriteRule ^api/([a-zA-Z0-9_-]*)/$ /api.php?type=$1 [L]

RewriteRule ^vip/$ /vip.php [L]
RewriteRule ^get_vip/$ /get_vip.php [L]
RewriteRule ^ihr/$ /ihr.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]

</IfModule>
